Repository C0NS03L/ssc-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write, prettier -w

feat(web): use data from backend
  src/assets/dummy.json
  src/pages/Dashboard.vue
  src/types/Types.ts
Due: eslint --max-warnings=0, prettier --write, prettier -w

feat(web): add date to dashboard
  src/pages/Dashboard.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): change to monthly reports
  src/pages/Dashboard.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): functional graph
  src/components/BalanceChart.vue
  src/pages/Dashboard.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): income and expense page redesign
  src/pages/Expense.vue
  src/pages/Income.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): use v-alert for alerts
  src/pages/Login.vue
  src/pages/Register.vue
Due: eslint --max-warnings=0, prettier --write

fix(web): overflowed income and expense
  src/pages/Dashboard.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): global css for overflow
  src/components.d.ts
  src/pages/Dashboard.vue
  src/styles/settings.scss
Due: eslint --max-warnings=0, prettier --write, prettier -w

fix(web): unused asset on footer
  src/components/AppFooter.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): delete income/expense
  src/pages/Expense.vue
  src/pages/Income.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): add add income feature
  bun.lockb
  src/components.d.ts
  src/components/AddIncomeForm.vue
  src/pages/Income.vue
  src/plugins/vuetify.ts
Due: eslint --max-warnings=0, prettier --write

fix(web): working close button
  src/components/AddIncomeForm.vue
  src/pages/Income.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): add expense form
  src/components.d.ts
  src/components/AddExpenseForm.vue
  src/pages/Expense.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): fetch balance from api
  src/components.d.ts
  src/pages/Dashboard.vue
  src/types/Types.ts
Due: eslint --max-warnings=0, prettier --write

feat(web): various improvements
  src/components.d.ts
  src/components/AddExpenseForm.vue
  src/components/AddIncomeForm.vue
  src/components/ExpensePieChart.vue
  src/components/IncomePieChart.vue
  src/pages/Dashboard.vue
  src/pages/Expense.vue
  src/pages/Income.vue
Due: eslint --max-warnings=0, prettier --write

feat(web): various style changes
  index.html
  public/favicon.ico
  src/assets/MoneyTrackerLogo.png
  src/assets/logo.png
  src/assets/logo.svg
  src/components.d.ts
  src/components/HelloWorld.vue
  src/pages/Register.vue
Due: eslint --max-warnings=0, prettier --write, prettier -w

Update README.md
  README.md
Due: prettier -w

Path conditions:
  eslint --max-warnings=0: any of: **/*.{js,jsx,ts,tsx,vue}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,vue}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
